.banner {
  background: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 40%), url('http://unsplash.it/1000/500');
  height: 100vh;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.banner p {
  margin-bottom: 30px;
}
